In [1]:
import numpy as np
import pandas as pd

In [4]:
fatal = pd.read_csv('data/ingest/file_1_clean_age.csv')
states = pd.read_csv('data/ingest/us-state-names.tsv', sep = '\t')
population = pd.read_csv('populationsbystatebyyear.csv', index_col = False)

In [5]:
fatal.head(5)

,YEAR,STATE,A_SPCRA,A_POSBAC,A_DIST,A_DROWSY,WRK_ZONE,WEATHER,DRIVER_AGE_BUCKET,FATALS
0,2000,1,1,1,1,2,0,0,Adult (25-64),1
1,2000,1,1,1,2,2,0,0,Adult (25-64),67
2,2000,1,1,1,2,2,0,0,Teen (15-20),14
3,2000,1,1,1,2,2,0,0,Young Adult (21-24),16
4,2000,1,1,1,2,2,0,1,Adult (25-64),6

In [6]:
states.head(5)

   id code        name
0   1   AL     Alabama
1   2   AK      Alaska
2   4   AZ     Arizona
3   5   AR    Arkansas
4   6   CA  California

In [7]:
data_working = pd.merge(fatal, states, how = 'left', left_on = 'STATE', right_on = 'id')
##print(data)

In [8]:
data = data_working[['YEAR', 'name', 'FATALS']]
data = data.rename(columns = {'YEAR': 'date', 'name': 'STATE'})
##print(data)

In [9]:
data['date'] = data['date'].astype(str) + '0101'

In [10]:
pivot = data.pivot_table(values = 'FATALS', index = ['date'], columns = ['STATE'], aggfunc = np.sum)

In [11]:
pivot['All States'] = pivot.sum(axis = 1)

In [12]:
pivot

STATE,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,District of Columbia,Florida,...,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming,All States
date,,,,,,,,,,,,,,,,,,,,,
20000101,996,106,1036,652,3753,681,341,123,48,2999,...,1307,3779,373,76,929,631,411,799,152,41945
20010101,991,89,1051,611,3956,741,318,136,68,3012,...,1251,3736,291,92,935,649,376,763,186,42196
20020101,1038,89,1132,640,4088,743,325,124,47,3136,...,1177,3823,328,78,914,658,439,803,176,43005
20030101,1004,98,1118,640,4224,642,298,142,67,3169,...,1193,3821,309,69,943,600,394,848,165,42884
20040101,1154,101,1151,703,4120,667,294,134,43,3244,...,1339,3699,296,98,922,567,410,792,164,42836
20050101,1148,73,1179,654,4333,606,278,133,48,3518,...,1270,3536,282,73,947,649,374,815,170,43510
20060101,1207,74,1293,665,4240,535,311,148,37,3357,...,1284,3531,287,87,962,633,410,724,195,42708
20070101,1110,82,1071,649,3995,554,296,117,44,3213,...,1211,3466,299,66,1027,571,432,756,150,41259
20080101,969,62,938,600,3434,548,302,121,34,2980,...,1043,3476,276,73,825,521,378,605,159,37423
20090101,848,64,806,596,3090,465,224,116,29,2560,...,986,3104,244,74,758,492,357,561,134,33883
20100101,862,56,759,571,2720,450,320,101,24,2444,...,1032,3023,253,71,740,460,315,572,155,32999
20110101,895,72,826,551,2816,447,221,99,27,2400,...,937,3054,243,55,764,454,338,582,135,32479
20120101,865,59,821,560,2966,474,264,114,15,2431,...,1015,3408,217,77,776,438,339,615,123,33782
20130101,853,51,849,498,3107,482,286,99,20,2403,...,995,3389,220,69,740,436,332,543,87,32893
20140101,820,73,773,470,3102,488,248,124,23,2494,...,963,3536,256,44,703,462,272,506,150,32744
20150101,850,65,897,550,3387,547,270,131,23,2938,...,962,3582,278,57,754,551,268,566,145,35484
20160101,1083,84,952,561,3837,608,304,119,27,3176,...,1037,3797,281,62,760,536,269,607,112,37806
20170101,948,79,998,525,3884,648,281,119,31,3116,...,1024,3732,273,69,839,563,304,613,123,37473
20180101,953,80,1010,516,3563,632,294,111,31,3133,...,1041,3642,260,68,820,546,294,588,111,36560

In [13]:
pivot.to_csv('trend_fatalities.csv')

In [14]:
pop = population.transpose()
new_header = pop.iloc[0]
state_population = pop[2:-1]
state_population.columns = new_header
state_population = state_population.rename(columns = {'State_Name': 'date'})
state_population

State_Name,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,District of Columbia,Florida,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2000,4452173,627963,5160586,2678588,33987977,4326921,3411777,786373,572046,16047515,...,755844,5703719,20944499,2244502,609618,7105817,5910512,1807021,5373999,494300
2001,4467634,633714,5273477,2691571,34479458,4425687,3432835,795699,574504,16356966,...,757972,5750789,21319622,2283715,612223,7198362,5985722,1801481,5406835,494657
2002,4480089,642337,5396255,2705927,34871843,4490406,3458749,806169,573158,16689370,...,760020,5795918,21690325,2324815,615442,7286873,6052349,1805414,5445162,500017
2003,4503491,648414,5510364,2724816,35253159,4528732,3484336,818003,568502,17004085,...,763729,5847812,22030931,2360137,617858,7366977,6104115,1812295,5479203,503453
2004,4530729,659286,5652404,2749686,35574576,4575013,3496094,830803,567754,17415318,...,770396,5910809,22394023,2401580,619920,7475575,6178645,1816438,5514026,509106
2005,4569805,666946,5839077,2781097,35827943,4631888,3506956,845150,567136,17842038,...,775493,5991057,22778123,2457719,621215,7577105,6257305,1820492,5546166,514157
2006,4628981,675302,6029141,2821761,36021202,4720423,3517460,859268,570681,18166990,...,783033,6088766,23359580,2525507,622892,7673725,6370753,1827912,5577655,522667
2007,4672840,680300,6167681,2848650,36250311,4803868,3527270,871749,574404,18367842,...,791623,6175727,23831983,2597746,623481,7751000,6461587,1834052,5610775,534876
2008,4718206,687455,6280362,2874554,36604337,4889730,3545579,883874,580236,18527305,...,799124,6247411,24309039,2663029,624151,7833496,6562231,1840310,5640996,546043
2009,4757938,698895,6343154,2896843,36961229,4972195,3561807,891730,592228,18652644,...,807067,6306019,24801761,2723421,624817,7925937,6667426,1847775,5669264,559851
2010,4785437,713910,6407172,2921964,37319502,5047349,3579114,899593,605226,18845537,...,816166,6355311,25241971,2775332,625879,8023699,6742830,1854239,5690475,564487
2011,4799069,722128,6472643,2940667,37638369,5121108,3588283,907381,619800,19053237,...,823579,6399291,25645629,2814384,627049,8101155,6826627,1856301,5705288,567299
2012,4815588,730443,6554978,2952164,37948800,5192647,3594547,915179,634924,19297822,...,833566,6453898,26084481,2853375,626090,8185080,6897058,1856872,5719960,576305
2013,4830081,737068,6632764,2959400,38260787,5269035,3594841,923576,650581,19545621,...,842316,6494340,26480266,2897640,626210,8252427,6963985,1853914,5736754,582122
2014,4841799,736283,6730413,2967392,38596972,5350101,3594524,932487,662328,19845911,...,849129,6541223,26964333,2936879,625214,8310993,7054655,1849489,5751525,582531
2015,4852347,737498,6829676,2978048,38918045,5450623,3587122,941252,675400,20209042,...,853988,6591170,27470056,2981835,625216,8361808,7163657,1842050,5760940,585613
2016,4863525,741456,6941072,2989918,39167117,5539215,3578141,948921,685815,20613477,...,862996,6646010,27914410,3041868,623657,8410106,7294771,1831023,5772628,584215
2017,4874486,739700,7044008,3001345,39358497,5611885,3573297,956823,694906,20963613,...,872868,6708799,28295273,3101042,624344,8463587,7423362,1817004,5790186,578931
2018,4887681,735139,7158024,3009733,39461588,5691287,3571520,965479,701547,21244317,...,878698,6771631,28628666,3153550,624358,8501286,7523869,1804291,5807406,577601

In [15]:
per_capita = np.divide(pivot.drop(['All States'], axis = 1), state_population).astype(float)
per_capita['All States: Per Capita'] = per_capita.sum(axis = 1)
per_capita = per_capita.applymap('{:,.6f}'.format)
per_capita

STATE,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,District of Columbia,Florida,...,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming,All States: Per Capita
date,,,,,,,,,,,,,,,,,,,,,
20000101,0.000224,0.000169,0.000201,0.000243,0.000110,0.000157,0.000100,0.000156,0.000084,0.000187,...,0.000229,0.000180,0.000166,0.000125,0.000131,0.000107,0.000227,0.000149,0.000308,0.008418
20010101,0.000222,0.000140,0.000199,0.000227,0.000115,0.000167,0.000093,0.000171,0.000118,0.000184,...,0.000218,0.000175,0.000127,0.000150,0.000130,0.000108,0.000209,0.000141,0.000376,0.008437
20020101,0.000232,0.000139,0.000210,0.000237,0.000117,0.000165,0.000094,0.000154,0.000082,0.000188,...,0.000203,0.000176,0.000141,0.000127,0.000125,0.000109,0.000243,0.000147,0.000352,0.008510
20030101,0.000223,0.000151,0.000203,0.000235,0.000120,0.000142,0.000086,0.000174,0.000118,0.000186,...,0.000204,0.000173,0.000131,0.000112,0.000128,0.000098,0.000217,0.000155,0.000328,0.008455
20040101,0.000255,0.000153,0.000204,0.000256,0.000116,0.000146,0.000084,0.000161,0.000076,0.000186,...,0.000227,0.000165,0.000123,0.000158,0.000123,0.000092,0.000226,0.000144,0.000322,0.008396
20050101,0.000251,0.000109,0.000202,0.000235,0.000121,0.000131,0.000079,0.000157,0.000085,0.000197,...,0.000212,0.000155,0.000115,0.000118,0.000125,0.000104,0.000205,0.000147,0.000331,0.008343
20060101,0.000261,0.000110,0.000214,0.000236,0.000118,0.000113,0.000088,0.000172,0.000065,0.000185,...,0.000211,0.000151,0.000114,0.000140,0.000125,0.000099,0.000224,0.000130,0.000373,0.008239
20070101,0.000238,0.000121,0.000174,0.000228,0.000110,0.000115,0.000084,0.000134,0.000077,0.000175,...,0.000196,0.000145,0.000115,0.000106,0.000132,0.000088,0.000236,0.000135,0.000280,0.007734
20080101,0.000205,0.000090,0.000149,0.000209,0.000094,0.000112,0.000085,0.000137,0.000059,0.000161,...,0.000167,0.000143,0.000104,0.000117,0.000105,0.000079,0.000205,0.000107,0.000291,0.006934
20090101,0.000178,0.000092,0.000127,0.000206,0.000084,0.000094,0.000063,0.000130,0.000049,0.000137,...,0.000156,0.000125,0.000090,0.000118,0.000096,0.000074,0.000193,0.000099,0.000239,0.006429
20100101,0.000180,0.000078,0.000118,0.000195,0.000073,0.000089,0.000089,0.000112,0.000040,0.000130,...,0.000162,0.000120,0.000091,0.000113,0.000092,0.000068,0.000170,0.000101,0.000275,0.006170
20110101,0.000186,0.000100,0.000128,0.000187,0.000075,0.000087,0.000062,0.000109,0.000044,0.000126,...,0.000146,0.000119,0.000086,0.000088,0.000094,0.000067,0.000182,0.000102,0.000238,0.005966
20120101,0.000180,0.000081,0.000125,0.000190,0.000078,0.000091,0.000073,0.000125,0.000024,0.000126,...,0.000157,0.000131,0.000076,0.000123,0.000095,0.000064,0.000183,0.000108,0.000213,0.006163
20130101,0.000177,0.000069,0.000128,0.000168,0.000081,0.000091,0.000080,0.000107,0.000031,0.000123,...,0.000153,0.000128,0.000076,0.000110,0.000090,0.000063,0.000179,0.000095,0.000149,0.005837
20140101,0.000169,0.000099,0.000115,0.000158,0.000080,0.000091,0.000069,0.000133,0.000035,0.000126,...,0.000147,0.000131,0.000087,0.000070,0.000085,0.000065,0.000147,0.000088,0.000257,0.005812
20150101,0.000175,0.000088,0.000131,0.000185,0.000087,0.000100,0.000075,0.000139,0.000034,0.000145,...,0.000146,0.000130,0.000093,0.000091,0.000090,0.000077,0.000145,0.000098,0.000248,0.006159
20160101,0.000223,0.000113,0.000137,0.000188,0.000098,0.000110,0.000085,0.000125,0.000039,0.000154,...,0.000156,0.000136,0.000092,0.000099,0.000090,0.000073,0.000147,0.000105,0.000192,0.006405
20170101,0.000194,0.000107,0.000142,0.000175,0.000099,0.000115,0.000079,0.000124,0.000045,0.000149,...,0.000153,0.000132,0.000088,0.000111,0.000099,0.000076,0.000167,0.000106,0.000212,0.006345
20180101,0.000195,0.000109,0.000141,0.000171,0.000090,0.000111,0.000082,0.000115,0.000044,0.000147,...,0.000154,0.000127,0.000082,0.000109,0.000096,0.000073,0.000163,0.000101,0.000192,0.006178

In [16]:
per_capita.to_csv('trend_percapita.csv')